<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>My Trip Buddy! | Trips</title>
    <link rel="stylesheet" href="{% static 'mtbuddy/css/materialize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mtbuddy/css/materialize_icons.css' %}">
  	<script src="{% static 'mtbuddy/js/jquery-2.2.3.js' %}"></script>
  	<script src="{% static 'mtbuddy/js/jquery-ui.js' %}"></script>
  	<script src="{% static 'mtbuddy/js/materialize.js' %}"></script>
  </head>
  <body>
    <header class="yellow">
      <nav class="yellow">
        <a class="brand-logo" href="#">Welcome to My Trip Buddy</a>
      </nav>
    </header>
    <main class="container section">
      <h1>Trips Page</h1>
    </main>
  </body>
</html>
